@{
    ViewData["Title"] = "Home Page";
}
@model Pizza

<body>
    <section class="text-center bg-dark  text-white py-5" id="pizza-library">
        <div class="container">
            <div class="text-white border-2 border rounded border-danger">
                <div class="row">
                    <div class="col-4">
                        <img class="img-fluid" src="@Model.ImgPath" alt="@Model.Name" />
                    </div>
                    <div class="col">         
                        <div class="d-flex justify-content-around align-items-center  py-2">
                            <h3 class="py-1">@Model.Name</h3>
                            <span class="py-1">Price : @Model.Price $</span>
                        </div>
                        <p class="px-2"> Ingredienti: <small>@Model.Description</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>